:root {
    --background: #f9fafb;
    --border: #cbd5e1;
    --accent: #563d7c;
    --hover: #7A43B6;
    --body: #1e293b;
    --label: #334155;
    --help: #6c757d;
    --shadow: 2px 10px 40px rgba(22, 20, 19, 0.4);
}

body {
    background-color: var(--background);
    color: var(--body);
    font-family: "Roboto", sans-serif;
}


p.help {
    color: var(--help);
    font-size: .875rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}
input:focus ~ p.help {
    max-height: unset;
    overflow: visible;
}

input:valid {
    background: url('../img/check-circle-fill.svg') right 0.5rem center no-repeat;
}

input:invalid:not(:focus):not(:placeholder-shown) {
     background: url('../img/exclamation-circle-fill.svg') right 0.5rem center no-repeat;
   
}

input[type="submit"] {
    background-color: var(--accent);
    color: white;
    padding: .5rem 2rem;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

section {
    background-color: white;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    margin: auto;
    max-width: 960px;
}

section > div {
    background: url("../img/cosmic-bg.webp") center / cover no-repeat;
    border-radius: .5rem .5rem 0 0 ;
    color: white;
    padding: 2rem;
}

h1 {
    margin-bottom: 1.5rem;
}
section > div p {
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.125rem;
    color: var(--accent);
    margin: 0;
}
form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
form div {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}
input {
    padding: .5rem;
    border: 1px solid var(--border);
    border-radius: 4px;
}

form div:last-of-type {
    align-items: center;
}


@media(min-width:800px) {
    section {
        display: flex;
        flex-direction: row;
    }
    section > div {
        width: 30%;
        flex-shrink: 0;
        border-radius: 4px 0 0 4px;
    }
}