:root {
    --heading: #1f2937;
    --body: #4b5563;
    --border: 1px solid #e5e7eb;
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

body {
    font-family: "Inter", sans-serif;
    color: var(--body);
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    color: var(--heading);
    text-align: center;
    padding: 1rem;
}

h2 {
    text-align: left;
    padding: 1rem;
}

p {
    text-align: left;
}

div {
    padding: 1rem;
    gap: 1rem;
}

.info {
    border: var(--border);
    box-shadow: var(--shadow);
    padding: 1rem;
}

@media (min-width: 600px) {
    div {
        display: flex;
        flex-wrap: wrap;
    }

    .info {
        width: calc((100% - 1rem) / 2);
    }
}

@media (min-width: 900px) {

    div {
        display: flex;
        flex-wrap: wrap;
    }

    .info {
        width: calc((100% - 2rem) / 3);
    }
}