:root {
    --nunito: 2em/1.5 'Nunito', 'Helvetica Neue', sans-serif;
    --open-sans: 1rem/1.5 'Open Sans', sans-serif;
    --box-shadow: 0 0 10px 0 rgb(33 33 33 / 15%);
    --black: #212121;
    --red: #c0232a;
}

section {
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    margin-top: 2rem;
}

article {
    padding: 1rem;
}

section > *:last-child {
    padding: 1rem;
    flex-basis: 60%;
    flex-shrink: 0;
}

@media (min-width: 900px) {
    section {
        flex-direction: column;
    }
}

/*Get sections into a row*/