:root {
    --nunito: 2em/1.5 'Nunito', 'Helvetica Neue', sans-serif;
    --open-sans: 1rem/1.5 'Open Sans', sans-serif;
    --box-shadow: 0 0 10px 0 rgb(33 33 33 / 15%);
    --black: #212121;
    --red: #c0232a;
}