:root {
    --nav: #020617;
    --main-text: #1e293b;
    --white: #f8fafc;
    --nav-accent: #f59e0b;
    --accent: #d97706;
    --lg-text: 3.625rem;
    --md-text: 2.0625rem;
    --sm-text: 0.85rem;
}