:root {
    --nav: #020617;
    --main-text: #1e293b;
    --white: #f8fafc;
    --nav-accent: #f59e0b;
    --accent: #d97706;
    --lg-text: 3.625rem;
    --md-text: 2.0625rem;
    --sm-text: 0.85rem;
}
body {
    font-family: "Inter", sans-serif;
    color: var(--main-text);
    background-color: var(--white);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
}

header {
    background-color: var(--nav);
}
header a {
    color: var(--white);
    text-decoration: none;
}
header .container, nav ul {
    display: flex;
    justify-content: space-between;
    gap: .75rem;
    align-items: center;
}

header button {
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
    font-size: var(--sm-text);
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
header button svg {
    width: 2rem;
}

header button:hover, header button:active {
    color: var(--nav-accent);
}
header button:active {
    border-radius: 4px;
    outline: 2px solid var(--white);
}

.sr-only {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

header form {
    background-color: var(--main-text);
    padding: 1rem 0;
    position: absolute;
    left: 0;
    top: 88px;
    width: 100%;
}

header input {
    border: none;
    padding: 0.5rem;
}

[type="search"]{
    flex-grow: 1;
    border-radius: 4px 0 0 4px;
}
form .container {
    gap: 0;
}
header [type="submit"] {
    background-color: var(--accent);
    border-radius: 0 4px 4px 0;
    color: var(--white);
    transition: background-color 0.3s;
}

header [type="submit"]:hover {
    background-color: var(--nav-accent);
}

.collapsed {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.expanded {
    max-height: unset;
    opacity: 1;
    visibility: visible;
}