:root {
    --black: #201203;
    --white: #f9f3ed;
    --accent: #c94706;
}

body {
    font-family: "Work Sans", sans-serif;
}

.gallery {
    background-color: var(--black);
    border-radius: 8px;
    padding: 1rem 1rem 5rem;
    position: relative;
}

.gallery div {
    border: 2px solid white;
    width: 60%;
    position: relative;
    z-index: 1;
}

.gallery div:first-of-type {
    position: absolute;
    right: 1rem;
    z-index: 10;
    /*bottom: 1rem;*/
    top: 3rem;
}

.gallery div:hover {
    z-index: 100;
}
