:root {
    --dark: #291e1c;
    --light: #c4d3d6;
    --accent: #ebac4e;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #291e1c;
    padding: 2rem;
}

nav {
    padding: 3rem;
}

img {
    max-width: 100%;
    margin: 0 auto;
}

header {
    text-align: center;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2 {
    color: #ebac4e;
    padding: 1rem;
}

h3, p, li {
    color: #c4d3d6;
}

h3 {
    padding: 1rem;
    justify-content: left;
}

.container {
    display: flex;
}