:root {
    --header: #263238;
    --body: #455A64;
    --link: #14b8a6;
    --active: #99f6e4;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    display: flex;
    gap: .75rem;
    justify-content: center;
    align-items: center;
    color: var(--link);
    text-transform: uppercase;
    text-decoration: none;
}

nav svg {
    width: 1.5rem;
    fill: var(--link)
}

header {
    background-color: var(--header);
    padding: 1rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 0;
}

nav a:hover {
    color: var(--active);
}

nav a:hover svg {
    fill: var(--active);
}


@media (min-width: 600px) {
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}