:root {
    --body: #475569;
    --headings: #1e293b;
    --accent: #db2777;
    --border: #e2e8f0;
    --background: #f5f5f5;
}

body {
    background-color: var(--background);
    color: var(--body);
    font-family: "Open Sans", sans-serif;
}

/* Utility Classes */

.inner-container {
    margin: 3rem auto;
    max-width: 1080px;
    padding: 1rem;
}

.flex-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

/* Typography */

h1, h2 {
    color: var(--headings);
    font-size: 2.125rem;
    font-weight: 300;
    text-align: center;
}

h2 {
    font-weight: 400;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

code {
    color: var(--accent);
}

/* Layout */

header .flex-container {
    align-items: center;
    flex-flow: row nowrap;
}

.img-container {
    flex: 1 8.5 15%;
}

h1 {
    flex: 7 1 70%;
}

section, aside {
    background-color: #fff;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 2rem 1rem;
}

@media (min-width: 640px) {
    .flex-container {
        flex-flow: row nowrap;
    }

    .img-container {
        flex: 1 9 10%;
    }

    h1 {
        flex: 8 1 80%;
        font-size: 3rem;
    }

    /* Take a moment to look at how flexbox tries to distribute the available space based upon the amount of content in each item. However, it doesn't always do a great job. There are ways we can manually tweak it, including percentage-based widths. flex-grow, flex-shrink, and flex-basis gives up a more dynamic option. We can think of it in terms of 'min, max, and ideal'. */

    section {
        flex: 3 1 75%;
        /* Let's also review the order property, while we're at it. */
        order: 1;
    }

    aside {
        flex: 1 1 25%;
    }
}