:root {
    --foggy-white: #F5F5F5;
    --mist: #c7c8ca;
    --text: #19231b;
    --text-hover: #314034;
}

body {
    font-family: "Mulish", sans-serif;
}

.hero {
    background-image: url(../img/pexels-busral.webp);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    padding: 2rem;
    max-width: 70ch;
}

section:has(>.outer-container) {
    background-color: #314034;
    padding: 1rem;
}

.outer-container section {
    display: flex;
    border: 1px solid var(--mist)
}

.outer-container section>* {
    flex-basis: 50%;
}

.outer-container section>*:last-of-type {
    padding: 1rem;
}

.outer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.btn {
    border: 1px solid;
    border-radius: .25rem;
    padding: 2px;
    background-color: var(--text-hover);
}

@media(min-width: 690px) {
    .outer-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .outer-container section > * {
        flex-basis: 30%;
        flex-grow: 1;
        flex-direction: column;
    }
    h2 {
        width: 100%;
    }
}